{%  extends 'base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}



{% block content %}
<br>
<!--<h1>Clients Detail of {{ client.title }}</h1>-->
<a href="{% url 'client_update' client.pk %}">Edit Client</a>
<br>
<a href="{% url 'client_delete' client.pk %}">Delete Client</a>
    <br><br>
    <p>Active: {{ project.is_active }} </p>
    <p>{{ client.head }}</p>
    <p>{{ client.summary|safe }}</p>
    <p>{{ client.created_by }}</p>
        {% for phones in client.clientsphones_set.all%}
            <p>{{ phones.phoneNumber }}</p>
        {% endfor %}
        <br>
        {% for email in client.clientsemails_set.all%}
            <p>{{ email.email }}</p>
        {% endfor %}

{% endblock %}



