{%  extends 'base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}



{% block content %}
<br>
<!--<h1>Clients Detail of {{ client.title }}</h1>-->
    {% if perms.crm_app.change_clientsinfo and owner %}
        <a href="{% url 'client_update' client.pk %}">Edit Client</a>
        <br>
        <a href="{% url 'client_delete' client.pk %}">Delete Client</a>
    {% else %}
        <p>You can not change or delete this record.</p>
        <p>You have not permissions.</p>
    {% endif %}
    <br><br>
    <p>Active: {{ client.is_active }} </p>
    <p>{{ client.head }}</p>
    <p>{{ client.email }}</p>
    <p>{{ client.phone }}</p>
    <p>{{ client.summary|safe }}</p>
    <p>{{ client.created_by }}</p>
{% comment %}
        {% for phones in client.clientsphones_set.all%}<p>{{ phones.phoneNumber }}</p>{% endfor %}
        <br>
        {% for email in client.clientsemails_set.all%}<p>{{ email.email }}</p>{% endfor %}
{% endcomment %}
{% endblock %}

