{%  extends 'base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}

{% block content %}
<br>
    <form method="post">
        {% csrf_token %}
<!--        {{ form.as_p }}-->

        <p>
        {{ form.old_password.label_tag }}<br>
        {{ form.old_password }}
          <input type="checkbox" id="show_old_pwd" onclick ="showPassword()"> Show
          <br>
          <small>{{ form.old_password.help_text }}</small>
        {% for error in form.old_password.errors %}<p style="color: red">{{ error }}</p>{% endfor %}
      </p>

        <p>
        {{ form.new_password1.label_tag }}<br>
        {{ form.new_password1 }}
          <input type="checkbox" id="show_new_pwd1" onclick ="showPassword()"> Show
          <br>
          <small>{{ form.new_password1.help_text }}</small>
        {% for error in form.new_password1.errors %}<p style="color: red">{{ error }}</p>{% endfor %}
      </p>

        <p>
        {{ form.new_password2.label_tag }}<br>
        {{ form.new_password2 }}
          <input type="checkbox" id="show_new_pwd2" onclick ="showPassword()"> Show
          <br>
          <small>{{ form.new_password2.help_text }}</small>
        {% for error in form.new_password2.errors %}<p style="color: red">{{ error }}</p>{% endfor %}
      </p>

        <input type="submit" value="Save">
    </form>
<script type="text/javascript">
function showPassword()
{
    if(document.getElementById("show_old_pwd").checked)
        {document.getElementById("id_old_password").type="text";}
    else
        {document.getElementById("id_old_password").type="password";}

    if(document.getElementById("show_new_pwd1").checked)
        {document.getElementById("id_new_password1").type="text";}
    else
        {document.getElementById("id_new_password1").type="password";}

    if(document.getElementById("show_new_pwd2").checked)
        {document.getElementById("id_new_password2").type="text";}
    else
        {document.getElementById("id_new_password2").type="password";}
}
</script>

{% endblock %}
