{%  extends 'base.html' %}
{% load static %}
{% block title %}Create a New Client{% endblock %}

{% block content %}

<!--<div>-->
<!--    <h1>Form to Add a New Client</h1>-->
<!--    <form method="post" action="">-->
<!--        {% csrf_token %}-->
<!--        {{ form.as_p }}-->
<!--&lt;!&ndash;        {{ form.head }}&ndash;&gt;-->
<!--&lt;!&ndash;        {{ form.summary }}&ndash;&gt;-->
<!--&lt;!&ndash;        {{ form.address }}&ndash;&gt;-->
<!--&lt;!&ndash;        {{ form.phoneNumber }}&ndash;&gt;-->
<!--&lt;!&ndash;        {{ form.email }}&ndash;&gt;-->
<!--        {{ error }}-->
<!--        <button type="submit" name="">Add a New Client</button>-->
<!--    </form>-->
<!--</div>-->






{% endblock %}



