{%  extends 'base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}



{% block content %}
    <h1>Clients Detail of {{ project.title }}</h1>
    <a href="{% url 'clientUpdate' project.pk %}">Edit Project</a>
    <br>
    <a href="{% url 'clientDelete' project.pk %}">Delete Project</a>
    <p>{{ project.p_name }}</p>
    <p>{{ project.description}}</p>
    <p>{{ project.date_begin}}</p>
    <p>{{ project.date_end}}</p>
    <p>{{ project.value}}</p>
    <p>{{ project.created_by }}</p>

{% endblock %}



