{%  extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block sidebar %} {% endblock %}
{% block content %}

  Password Reset Form

    {% if validlink %}
        <p>Please enter (and confirm) your new password.</p>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td>
                        {{ form.new_password1 }}
                        <input type="checkbox" id="show_new_pwd1" onclick ="showPassword()"> Show
                    </td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td>
                        {{ form.new_password2 }}
                        <input type="checkbox" id="show_new_pwd2" onclick ="showPassword()"> Show
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </form>
<script type="text/javascript">
function showPassword()
{
    if(document.getElementById("show_new_pwd1").checked)
        {document.getElementById("id_new_password1").type="text";}
    else
        {document.getElementById("id_new_password1").type="password";}

    if(document.getElementById("show_new_pwd2").checked)
        {document.getElementById("id_new_password2").type="text";}
    else
        {document.getElementById("id_new_password2").type="password";}
}
</script>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}

{% endblock %}



