{%  extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block sidebar %} {% endblock %}
{% block content %}

   <h2>
       <p>Password reset sent</p>
       <p>We've emailed you instructions for setting your password, if an account exists with the email you entered.</p>
       <p>You should receive them shortly.</p>
       <p>If you don't receive an email, please make sure you've entered the address you registered with,</p>
       <p>and check your spam folder.</p>
   </h2>



{% endblock%}