{%  extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block sidebar %} {% endblock %}
{% block content %}

<h1>
    Welcome to the Password Reset Page
</h1>
<br>
<h2>
    <p>Forgot your password? Please enter the email address you used to register</p>
    <p>with us and we will send you a link to reset your password</p>
</h2>


<form method="post">{% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
        <p>{{ form.email }}</p>
    <input type="submit" class="btn btn-default btn-lg" value="Reset password" />
</form>

{% endblock%}