{%  extends 'base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}



{% block content %}
<!--    <h1>Project Detail of {{ project.p_name }}</h1>-->
    <br>
    <a href="{% url 'project_update' project.pk %}">Edit Project</a>
    <br>
    <a href="{% url 'project_delete' project.pk %}">Delete Project</a>
    <br><br>
    <p>Active: {{ project.is_active }} </p>
    <p>{{ project.p_name }}</p>
    <p>{{ project.client }}</p>
    <p>{{ project.description}}</p>
    <p>{{ project.date_begin}}</p>
    <p>{{ project.date_end}}</p>
    <p>{{ project.value}}</p>
    <p>{{ project.created_by }}</p>

{% endblock %}



